body {
    font-family: "Lato", sans-serif;
    font-weight: 300;
    font-size: 1.6rem;
    line-height: 1.7;
    color: $color-sec-light-super;
}

.heading-primary {
    padding-left: 3.2rem;
    color: $color-white;
    text-transform: uppercase;
    backface-visibility: hidden;
    margin-bottom: 6rem;
    text-align: center;
    text-shadow: 0 0 5px rgba($color-primary-light, .8);

    &--main {
        display: block;
        font-size: 7rem;
        font-weight: 300;
        letter-spacing: 4rem;
        // animation-name: moveInLeft;
        // animation-duration: 2s;
        // animation-timing-function: ease-out;
        @include respond(600p) {
            font-size: 5rem;
            letter-spacing: 3rem;
        }
        @include respond(450p) {
            font-size: 4.5rem;
            letter-spacing: 2rem;
        }
        @include respond(450p) {
            font-size: 4.2rem;
            letter-spacing: 1.75rem;
        }
         @include respond(300p) {
            font-size: 3.5rem;
            letter-spacing: 1.75rem;
        }
        
        /* animation-delay: 3s;
        animation-iteration-count: 3;
        */
    }

    &--sub {
        display: block;
        font-size: 4rem;
        font-weight:200;
        letter-spacing: 1.75rem;
        // animation: moveInRight 2s ease-out;
        @include respond(600p) {
            font-size: 3rem;
            letter-spacing: 1.5rem;
        }
        @include respond(450p) {
            font-size: 2.2rem;
            letter-spacing: 1.3rem;
        }
        
    }
    &--sub-and {
        display: block;
        font-size: 2rem;
        font-weight: 200;
        letter-spacing: 1.75rem;
        // animation: moveInLeft 2s ease-out;
        @include respond(600p) {
            font-size: 1.8rem;
            letter-spacing: 1.3rem;
        }
        @include respond(450p) {
            font-size: 1.6rem;
            letter-spacing: 1.2rem;
        }
        
    }

}





.heading-secondary {
    font-size: 4.5rem;
    text-transform: uppercase;
    font-weight: 200;
    display: inline-block;
    text-shadow: 0 0 .5rem rgba($color-primary-light, .2);
    background-image: linear-gradient(to left, $color-sec-light, $color-white);
    -webkit-background-clip: text;
    letter-spacing: 2px;
    color: transparent;
    overflow: hidden;
    transition: all .3s;
    @include clearfix;
    @include respond(900p) {
        font-size: 4rem;
        padding: 0 3rem;
    }
    @include respond(750p) {
        font-size: 3.5rem;

    }
    @include respond(450p) {
        font-size: 3.5rem;
        padding: 0 2rem;
    }


    &-sub {
        margin-bottom: 1.5rem;
        text-transform: uppercase;
        font-size: 2.4rem;
        letter-spacing: 1rem;
        font-weight: 200;
        line-height: 120%;
        text-shadow: 0 0 .5rem rgba($color-primary-light, .8);
        background-image: linear-gradient(to left, $color-sec-light, $color-white);
        -webkit-background-clip: text;
        // display: inline-block;
        @include respond(900p) {
            font-size: 2.2rem;
            letter-spacing: .7rem;
        }
        @include respond(750p) {
            text-align: center;
        }
        @include respond(380p) {
            font-size: 1.9rem;
        }
    }
    &-white {
        color: white;
        font-weight: 200;
        text-shadow: .3rem .3rem 1.5rem rgba($color-primary-dark-super, .7);
    }
}

.heading-tertiary {
    font-size: $default-font-size;
    font-weight: 500;
    letter-spacing: .1rem;
    text-transform: uppercase;

}
.about {
    font-size: 2rem;
    font-weight: 200;
    &:not(:last-child) {
        margin-bottom: 3rem;
        @include respond(750p) {
            margin-bottom: 4.5rem;
        }
    }
    
    @include respond(900p) {
        font-size: 1.9rem;
        font-weight: 200;
    }
    @include respond(750p) {
        text-align: center;
    }
    
}

h4 {
    font-size: 2rem;
    font-weight: 200;
    color: white;
    text-transform: uppercase;
    letter-spacing: .5rem;
    text-shadow: 0 0 .5rem rgba($color-primary, .8);
}
